.product {
  .card {
    height: 100%;
    &-img-top {
      height: 150px;
      object-fit: cover;
    }
    .loading {
      filter: blur(10px);
      clip-path: inset(0);
    }
    .loaded {
      filter: blur(0px);
      transition: filter 0.3s linear;
    }
  }
}
