.product {
  .card {
    height: 100%;
    &-img-top {
      height: 150px;
      object-fit: cover;
      transition: all 1.5s linear;
    }
    &-img-top.loading {
      filter: blur(10px);
      clip-path: inset(0);
    }
  }
}
