.product {
  .card {
    height: 100%;
    &-title {
      font-size: 0.8rem;
    }
    &-img-top {
      height: 120px;
      object-fit: cover;
      transition: all 0.3s linear;
    }
    &-img-top.loading {
      filter: blur(5px);
      clip-path: inset(0);
    }
  }

  &__price {
    color: #7952b3;
    font-size: 1rem;
  }
}
